.advantege--container {
  background-color: $bg-green;
  color: $white-font-cl;

  padding-bottom: 36px;

  @media screen and (min-width: 768px) {
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 86px;
  }
}

.advantege__list {
  max-width: 230px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    gap: 80px;
  }

  @media screen and (min-width: 1200px) {
    gap: 32px;
  }
}

.advantege__item::before {
  content: '';
  display: block;
  height: 50px;

  background-repeat: no-repeat;
  background-position: center;
}

.advantege__item {
  &:nth-child(1) {
    margin-bottom: 27px;
  }

  &:nth-child(2) {
    margin-bottom: 21px;
  }

  &:nth-child(1)::before {
    background-image: url(/src/images/cow.svg);
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
      margin-bottom: 32px;
      width: 152px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 40px;
      width: 368px;
    }
  }

  &:nth-child(2)::before {
    background-image: url(/src/images/weight.svg);
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
      margin-bottom: 32px;
      width: 152px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 40px;
      width: 368px;
    }
  }

  &:nth-child(3)::before {
    background-image: url(/src/images/ice.svg);
    margin-bottom: 22px;

    @media screen and (min-width: 768px) {
      margin-bottom: 32px;
      width: 152px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 40px;
      width: 368px;
    }
  }
}

.advantege__number {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 18px;

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;

    font-size: 48px;
    line-height: 1.23;
    text-transform: lowercase;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.22;
  }
}

.advantege__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.74;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.75;

    text-align: center;
    letter-spacing: 0.02em;
  }
}
