.contact {
  background-image: linear-gradient(
    to top,
    $bg-green 82%,
    rgba(245, 245, 245, 0) 82%
  );
  @media screen and (min-width: 1200px) {
    padding-bottom: 121px;
  }
  padding-bottom: 40px;
}

.contact__list {
  @media screen and (max-width: 767.98px) {
    display: block;
    max-width: 280px;
    margin: 0 auto;
  }
  justify-content: center;
  gap: 16px;
  display: flex;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 64px;
    gap: 32px;
  }
}

.card {
  text-align: left;
  min-width: 280px;
  background: #ffffff;
  border-radius: 24px;
  padding: 40px 24px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.86;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);

  @media screen and (min-width: 1200px) {
    min-width: 368px;
    font-size: 16px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    min-width: 224px;
    font-size: 14px;
  }
  @media screen and (max-width: 767.98px) {
    margin-bottom: 20px;
  }
}
.contact__name {
  //   min-width: 73px;
  //   height: 28px;
  font-family: $font-main;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* or 30px */
  text-align: center;
  letter-spacing: 0.04em;
  color: $black-font-cl;
  text-transform: uppercase;
  background-color: $accent-font-cl;
  border-color: $accent-font-cl;
  border-radius: 24px;
  padding: 4px 24px;
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}
// .card__item {
//   &:nth-child(1) {
//     @media screen and (max-width: 767.98px) {
//       padding-top: 20px;
//       padding-bottom: 24px;
//     }
//   }
//   width: 179px;
//   border-bottom: 1px solid #e1e1e1;
//   padding-top: 32px;
//   padding-bottom: 32px;
// }
.card__text {
  padding-top: 8px;
  color: #d6936d;
  line-height: 1.5;
  font-weight: 500;
  line-height: 183%;
  /* or 29px */
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

// .card__title {
// }
.card__time {
  color: #ababab;
  text-transform: uppercase;
}
.card__item {
  // width: 179px;
  border-bottom: 1px solid rgba(225, 225, 225, 1);
  transition: transform 1.2s cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
  padding-bottom: 32px;
  padding-top: 32px;

  @media screen and (max-width: 767.98px) {
    padding-bottom: 24px;
    padding-top: 24px;
  }

  @media screen and (min-width: 768px) {
    width: 159px;
  }
  @media screen and (min-width: 1200px) {
    width: 250px;
    height: 191px;
  }

  &:last-child {
    border: none;
    padding-bottom: 0;
  }

  &:nth-child(1) {
    padding-top: 32px;
    @media screen and (max-width: 767.98px) {
      padding-top: 20px;
    }
  }
}
.card__link {
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;

  line-height: 183%;
  /* or 29px */
  color: #131313;
}
.button-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}
.button-thumb__btn--map {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 192px;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
  background-color: $bg-yellow-cl;
  font-weight: 600;
  line-height: calc(18 / 14);
  transition: background-color $animation, color $animation;

  &:hover {
    background-color: $btn-cl-green;
  }

  &:focus {
    background-color: $btn-cl-green;
    color: $white-font-cl;
  }

  &:disabled {
    background-color: $btn-cl-gray;
  }

  @media screen and (min-width: 768px) {
    margin-left: 0;
  }
}

.button-thumb__btn--fran {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 192px;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  line-height: calc(18 / 14);
  background-color: transparent;
  border: 2px solid #f8d24e;

  transition: border-color $animation;

  &:hover {
    border-color: $btn-cl-green;
  }

  &:focus {
    border-color: $btn-cl-green;
    color: $white-font-cl;
  }

  &:disabled {
    border-color: $btn-cl-gray;
  }
}
