.customer-reviews {
  padding-bottom: 48px;

  @media screen and (min-width: 768px) {
    padding-bottom: 80px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 100px;
  }
}

.customer-reviews__card {
  height: 256px;

  padding: 34px 39px;
  margin-bottom: 30px;

  background-color: $bg-green;
  border-radius: 10px;

  @media screen and (min-width: 380px){
    height: 160px;
  }

  @media screen and (min-width: 768px) {
    height: 138px;
    padding: 29px 80px;
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1200px) {
    padding: 39px 109px;
    margin-bottom: 32px;
  }
}
.customer-reviews__txt {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(31 / 12);

  text-align: center;

  color: $white-font-cl;

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(26 / 14);

    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}

.customer-reviews__name {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(37 / 20);

  margin-bottom: 34px;

  text-align: center;

  color: $black-font-cl;
}
.customer-reviews__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  max-width: 85px;
  border-radius: 50%;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: $bg-green;
  width: 12px;
  height: 12px;
}
