.footer-section {
  background-color: $bg-green;
}
.footer__contacts-group {
  @media screen and (min-width: 768px) {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
}
// .container {
// }
.footer__title {
  margin-bottom: 40px;
  @media screen and (max-width: 1199px) {
    width: 234px;
    margin-bottom: 40px;
  }
}
.footer__title--text {
  @media screen and (min-width: 1200px) {
    font-family: $font-main;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    letter-spacing: $let-spacing-main;
    text-transform: uppercase;
    color: $bg-white-cl;
  }
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    width: 352px;
    height: 57px;
    margin-bottom: 9px;
    font-family: $font-main;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: $let-spacing-main;
    text-transform: uppercase;

    color: $bg-white-cl;
  }
  font-family: $font-main;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: $bg-white-cl;
  margin-bottom: 16px;
}
.footer__title--upper {
  @media screen and (min-width: 1200px) {
    font-family: $font-main;
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 71px;
    /* identical to box height */
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $bg-white-cl;
  }
  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    width: 340px;
    font-family: $font-main;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $bg-white-cl;
  }
  font-family: $font-main;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: $let-spacing-main;
  text-transform: uppercase;
  color: $bg-white-cl;
}
// .footer__contacts {
// }
.footer-socials {
  margin-bottom: 40px;
  display: flex;
}
.footer-socials__list {
  justify-content: center;
  align-items: center;
  margin-left: auto;
  display: flex;
}

.footer-socials__item:not(:last-child) {
  margin-right: 30px;
}
.footer-socials__link {
  width: 34px;
  height: 34px;
  background-color: $accent-font-cl;
  color: $bg-green;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: color $animation;
  display: flex;
  &:hover {
    color: $bg-white-cl;
  }
  &:focus {
    color: $bg-white-cl;
    width: 36px;
  }
}
.footer-socials__icon {
  fill: currentColor;
}
.footer-tel {
  display: flex;
  margin-bottom: 40px;
}
.footer-tel__list {
  display: flex;
  margin-left: auto;
}
// .list {
// }
.footer-tel__item:not(:last-child) {
  margin-right: 4px;
}
.footer-tel__txt {
  @media screen and (max-width: 1199.98px) {
    font-size: 14px;
  }
  @media screen and (max-width: 767.98px) {
    font-size: 12px;
  }
  font-family: $font-main;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 186%;
  text-align: right;
  color: #131313;
  /* identical to box height, or 26px */
}
.footer-tel__link {
  @media screen and (max-width: 1199.98px) {
    font-size: 14px;
  }
  @media screen and (max-width: 767.98px) {
    font-size: 12px;
  }
  font-family: $font-main;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 186%;
  /* identical to box height, or 26px */

  text-align: right;

  color: $bg-white-cl;
}
.footer-copyright {
  text-align: center;
  border-top: 1px solid #e1e1e1;
  width: 100%;
  justify-content: center;
  padding: 16px 20px 3px;
}
.footer-copyright__txt {
  font-family: $font-main;
  font-style: normal;
  font-weight: 700;
  font-size: $font-size-main;
  line-height: 186%;
  /* identical to box height, or 26px */

  letter-spacing: 0.02em;

  color: $cl-font-gray-second;
}
