.gallary {
   padding-bottom: 0;
   background-image: 
   linear-gradient(to bottom,#84A178 18%,rgba(245, 245, 245, 0) 18%);
@media screen and (min-width: 768px) {
background-image:
    linear-gradient(to bottom, #84A178 50%, rgba(245, 245, 245, 0) 50%);
} 
@media screen and (min-width: 1200px) {
    background-image:
    linear-gradient(to bottom, #84A178 22%, rgba(245, 245, 245, 0) 22%);
}
}

.conteiner-gallary {
    padding: 0;
    margin-right: 21px;
    margin-left: 20px;
 @media screen and (min-width: 768px) {
        margin-right: 32px;
        margin-left: 32px;
    }
@media screen and (min-width: 1200px) {
        margin-right: 94px;
        margin-left: 93px;
    }
}

.gallary__img {
    display: block;
    object-fit: cover;
@media screen and (max-width: 767px) {
            height: 279px;
            width: 100%;
    }
@media screen and (min-width: 768px) {
        height: 327px;
        width: 100%;
    }
@media screen and (min-width: 1199px) {
        height: 422px;
        width: 100%;
    }   
}

.swiper {
    border-radius: 24px;
@media screen and (min-width: 1200px) {
    }
@media screen and (min-width: 768px) {
}
@media screen and (max-width: 767px) {
}
}

.swiper-button-prev {
-webkit-text-fill-color: #84A178;
}
.swiper-button-next {
-webkit-text-fill-color: #84A178;
}