.hero-section {
  padding-top: 60px;
  height: 502px;

  background-color: $bg-green;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    padding-top: 40px;
    height: 350px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 50px;
    height: 594px;
  }
}

.container {
  position: relative;

  height: 100%;

  z-index: 0;
}

.site-title {
  margin-bottom: 32px;

  font-family: $font-second;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $white-font-cl;

  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
    width: 181px;

    font-size: 18px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 28px;
    width: 367px;

    font-size: 38px;
  }
}

.site-title--accent {
  font-size: 34px;

  @media screen and (min-width: 768px) {
    font-size: 24px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 38px;
  }
}

.hero-buttons {
  margin-bottom: 31.5px;

  display: flex;
  gap: 8px;

  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
  }

  @media screen and (min-width: 1200px) {
    gap: 12px;
  }
}

.hero-buttons__button-primary {
  padding: 0;
  width: 62px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-main;
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  border-radius: 10px;
  color: $black-font-cl;
  background-color: transparent;
  border: 2px solid $bg-yellow-cl;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $bg-yellow-cl;
    color: $white-font-cl;
  }

  @media screen and (min-width: 1200px) {
    width: 134px;
    height: 40px;

    font-size: 14px;
  }
}

.hero-buttons__button-secondary {
  padding: 0;
  width: 83px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-main;
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  border-radius: 10px;
  text-decoration-line: underline;
  background-color: transparent;
  color: $accent-font-cl;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $white-font-cl;
  }

  @media screen and (min-width: 1200px) {
    width: 154px;
    height: 40px;

    font-size: 14px;
  }
}

.info {
  position: absolute;
  bottom: 14px;

  display: flex;
  gap: 33px;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    bottom: 65px;
    gap: 14px;
  }
}

.info__image {
  animation-name: spin;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.info__text {
  width: 151px;

  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: flex-start;
  justify-content: center;
  font-family: $font-main;
  font-size: 12px;
  line-height: 1.4;
  color: $white-font-cl;

  @media screen and (min-width: 1200px) {
    margin-top: 75px;

    width: 220px;

    justify-content: flex-start;
    font-size: 14px;
  }
}

.info__button {
  padding: 5px;
  padding-left: 0;

  background-color: transparent;

  &:hover .arrow__arrow-def,
  &:focus .arrow__arrow-def {
    display: none;
  }

  &:hover .arrow__arrow-hover,
  &:focus .arrow__arrow-hover {
    display: block;
  }
}

.arrow {
  width: 50px;
  height: 15px;

  display: block;
  fill: $white-font-cl;
}

.arrow__arrow-hover {
  display: none;
}

.arrow__arrow-focus {
  display: none;
}

.hero-ice-cream {
  position: absolute;
  bottom: 0;
  left: 82px;

  width: 170px;

  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 2.2s;
  filter: drop-shadow(0px 0px 40px white);

  @media screen and (min-width: 768px) {
    left: 400px;
    width: 270px;
  }

  @media screen and (min-width: 1200px) {
    left: 650px;
    width: 456px;
  }
}

@keyframes pulse {
  0% {
    filter: drop-shadow(0px 0px 10px $bg-white-cl);
  }

  50% {
    filter: drop-shadow(0px 0px 35px $bg-white-cl);
  }

  100% {
    filter: drop-shadow(0px 0px 10px $bg-white-cl);
  }
}

.establishments {
  position: absolute;
  bottom: 205px;
  right: 32px;

  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    bottom: 368px;
    right: 16px;

    row-gap: 16px;
  }
}

.establishments__text {
  display: flex;
  flex-direction: column;

  font-family: $font-main;
  font-size: 8px;
  line-height: 10px;
  text-align: right;
  color: $white-font-cl;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.establishments__number {
  margin-bottom: 4px;

  font-family: $font-main;
  font-weight: 900;
  font-size: 28px;
  line-height: 1.2;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $black-font-cl;

  @media screen and (min-width: 1200px) {
    font-size: 46px;
  }
}

.hero-bubbles {
  position: absolute;
  left: 0;
  bottom: 0;

  z-index: -1;
}
