// Шрифти
$font-main: 'Montserrat', sans-serif;
$font-second: 'Seymour One', sans-serif;
$font-size-main: 14px;
$let-spacing-main: 0.04em;

// Колір шрифтів
$white-font-cl: #fcfcfc;
$black-font-cl: #131313;
$accent-font-cl: #f8d24e;
$cl-font-gray-firct: #ababab;
$cl-font-gray-second: #7a7a7a;
$cl-font-brown: #d6936d;

// Колір фону
$bg-green: #84a178;
$gb-green-menu-tab: #97af8d;
$gb-green-menu-mob: #85a279;
$bg-ice-card-green: #aec6a5;
$cl-ingr-green: #9cbe8f;
$bg-green-prod: #96af8c;
$bg-white-cl: #fcfcfc;
$bg-yellow-cl: #f8d24e;
$bg-yelloe-10: #f8d24e1a;
$bg-yellow-ice-card: #efd478;
$bg-brown-ice-card: #d6936d;

$cl-yelloe-70: #f8d24eb2;
$cl-brown-70: #d5753fb2;
$cl-green-70: #9cbe8fb2;
$cl-gray: #d9d9d9;

$btn-cl-green: #0a8817;
$btn-cl-gray: #ababab;

$cl-error-bg: #f59c9c;
$cl-error-out: #f37777;

// Анімація (та що в дз була)
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
