// Шрифти
$font-main: 'Montserrat', sans-serif;
$font-second: 'Seymour One', sans-serif;
$font-size-main: 14px;
$let-spacing-main: 0.04em;

// Колір шрифтів
$white-font-cl: #FCFCFC;
$black-font-cl: #131313;
$accent-font-cl: #F8D24E;
$cl-font-gray-firct: #ABABAB;
$cl-font-gray-second: #7A7A7A;
$cl-font-brown: #D6936D;

// Колір фону
$bg-green: #84A178;
$gb-green-menu-tab: #97AF8D;
$gb-green-menu-mob: #85A279;
$bg-ice-card-green: #AEC6A5;
$cl-ingr-green: #9CBE8F;
$bg-white-cl: #FCFCFC;
$bg-yellow-cl: #F8D24E;
$bg-yelloe-10: #F8D24E1A;
$bg-yellow-ice-card: #EFD478;
$bg-brown-ice-card: #D6936D;

$cl-yelloe-70: #F8D24EB2;
$cl-brown-70: #D5753FB2;
$cl-green-70: #9CBE8FB2;
$cl-gray: #D9D9D9;

$btn-cl-green: #0A8817;
$btn-cl-gray:#ABABAB;

// Анімація (та що в дз була)
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);