@import '~node_modules/modern-normalize/modern-normalize.css';
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(../../src/images/bg-body/ice-bg-tel.png);
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  color: #131313;
  font-size: 14px;
  letter-spacing: 0.04em;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  body {
    background-image: url("../../src/images/bg-body/ice-bg-tel@2x.png");
  }
}
@media screen and (min-width: 481px) {
  body {
    background-image: url(../../src/images/bg-body/ice-bg-tab.png);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  body {
    background-image: url("../../src/images/bg-body/ice-bg-tab@2x.png");
  }
}
@media screen and (min-width: 769px) {
  body {
    background-image: url(../../src/images/bg-body/ice-bg.png);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  body {
    background-image: url("../../src/images/bg-body/ice-bg@2x.png");
  }
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 16px;
  }
}

button {
  display: block;
  margin: 0;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 10px;
  padding: 12px 34px;
}

@media screen and (min-width: 481px) {
  .container {
    max-width: 767px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    margin: 0 auto;
    max-width: 1200px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #84A178;
  margin: auto;
}
@media screen and (max-width: 767px) {
  .header__container {
    padding-top: 12px;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 24px;
  }
}

.logo {
  margin-right: auto;
  outline: 0;
  border: 0;
}

.header-logo {
  fill: #F8D24E;
}
@media screen and (min-width: 320px) {
  .header-logo {
    width: 40px;
    height: 37px;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .header-logo {
    width: 48px;
    height: 44px;
  }
}
@media screen and (min-width: 1200px) {
  .header-logo {
    width: 60px;
    height: 65px;
    margin-right: 269px;
  }
}

.menu-button {
  padding: 0;
}
@media screen and (min-width: 320px) {
  .menu-button {
    margin-top: 0;
  }
}
@media screen and (min-width: 768px), (max-width: 1199px) {
  .menu-button {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .menu-button {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .nav__group {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .nav__group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
  }
}

.nav__list {
  display: flex;
  gap: 27px;
}

.nav__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #FCFCFC;
  outline: 0;
}
@media screen and (min-width: 320px) {
  .nav__link:hover {
    color: #F8D24E;
  }
  .nav__link:focus {
    color: #0A8817;
  }
}
@media screen and (min-width: 1200px) {
  .nav__link:hover {
    color: #F8D24E;
  }
  .nav__link:focus {
    color: #0A8817;
  }
}

.button-header {
  background-color: #F8D24E;
  width: 152px;
  height: 42px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  align-items: center;
  margin: 0;
  gap: 11px;
  cursor: pointer;
  outline: 0;
  border: 0;
}
@media screen and (max-width: 767px) {
  .button-header {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .button-header {
    margin-left: 32px;
  }
}
.button-header:hover {
  background-color: #0A8817;
  color: #000000;
}
.button-header:focus {
  background-color: #0A8817;
  color: #FCFCFC;
}
.button-header:disabled {
  background-color: #ABABAB;
  color: #000000;
}

.text-button {
  color: #131313;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
}

.header-icon {
  width: 12px;
  height: 12px;
  padding-top: 5px;
}

.advantege {
  background-color: #84A178;
  color: #FCFCFC;
}

.section {
  padding-bottom: 36px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 86px;
  }
}

.advantege__list {
  max-width: 230px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .advantege__list {
    display: flex;
    justify-content: center;
    gap: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .advantege__list {
    gap: 32px;
  }
}

.advantege__item::before {
  content: "";
  display: block;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.advantege__item:nth-child(1) {
  margin-bottom: 27px;
}
.advantege__item:nth-child(2) {
  margin-bottom: 21px;
}
.advantege__item:nth-child(1)::before {
  background-image: url(/src/images/cow.svg);
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .advantege__item:nth-child(1)::before {
    margin-bottom: 32px;
    width: 152px;
  }
}
@media screen and (min-width: 1200px) {
  .advantege__item:nth-child(1)::before {
    margin-bottom: 40px;
    width: 368px;
  }
}
.advantege__item:nth-child(2)::before {
  background-image: url(/src/images/weight.svg);
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .advantege__item:nth-child(2)::before {
    margin-bottom: 32px;
    width: 152px;
  }
}
@media screen and (min-width: 1200px) {
  .advantege__item:nth-child(2)::before {
    margin-bottom: 40px;
    width: 368px;
  }
}
.advantege__item:nth-child(3)::before {
  background-image: url(/src/images/ice.svg);
  margin-bottom: 22px;
}
@media screen and (min-width: 768px) {
  .advantege__item:nth-child(3)::before {
    margin-bottom: 32px;
    width: 152px;
  }
}
@media screen and (min-width: 1200px) {
  .advantege__item:nth-child(3)::before {
    margin-bottom: 40px;
    width: 368px;
  }
}

.advantege__number {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 18px;
}
@media screen and (min-width: 768px) {
  .advantege__number {
    margin-bottom: 16px;
    font-size: 48px;
    line-height: 1.23;
    text-transform: lowercase;
  }
}
@media screen and (min-width: 1200px) {
  .advantege__number {
    font-size: 58px;
    line-height: 1.22;
  }
}

.advantege__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .advantege__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.74;
  }
}
@media screen and (min-width: 1200px) {
  .advantege__text {
    font-size: 16px;
    line-height: 1.75;
    text-align: center;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.contact {
  background-image: linear-gradient(to top, #84A178 82%, rgba(245, 245, 245, 0) 82%);
  padding-top: 60px;
  padding-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .contact {
    padding-bottom: 121px;
  }
}

.contact__list {
  justify-content: center;
  gap: 32px;
  display: flex;
  margin-bottom: 64px;
}
@media screen and (max-width: 767.98px) {
  .contact__list {
    display: block;
  }
}

.card {
  text-align: left;
  min-width: 280px;
  background: #ffffff;
  border-radius: 24px;
  padding: 40px 32px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.86;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
}
@media screen and (min-width: 1200px) {
  .card {
    min-width: 368px;
    padding: 40px;
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card {
    min-width: 224px;
    font-size: 14px;
  }
}
@media screen and (max-width: 767.98px) {
  .card {
    margin-bottom: 20px;
  }
}

.contact__name {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  /* or 30px */
  text-align: center;
  letter-spacing: 0.04em;
  color: #131313;
  text-transform: uppercase;
  background-color: #F8D24E;
  border-color: #F8D24E;
  border-radius: 24px;
  padding: 4px 24px;
}
@media screen and (min-width: 1200px) {
  .contact__name {
    font-size: 16px;
  }
}

.card__text {
  padding-top: 8px;
  color: #d6936d;
  line-height: 1.5;
  font-weight: 500;
  line-height: 183%;
  /* or 29px */
  letter-spacing: 0.04em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.card__time {
  color: #ababab;
  text-transform: uppercase;
}

.card__item {
  width: 179px;
  border-bottom: 1px solid rgb(225, 225, 225);
  transition: transform 1.2s cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
  padding-bottom: 32px;
  padding-top: 32px;
}
@media screen and (max-width: 767.98px) {
  .card__item {
    padding-bottom: 24px;
    padding-top: 24px;
  }
}
@media screen and (min-width: 768px) {
  .card__item {
    width: 159px;
  }
}
@media screen and (min-width: 1200px) {
  .card__item {
    width: 250px;
    height: 191px;
  }
}
.card__item:last-child {
  border: none;
  padding-bottom: 0;
}
.card__item:nth-child(1) {
  padding-top: 32px;
}
@media screen and (max-width: 767.98px) {
  .card__item:nth-child(1) {
    padding-top: 20px;
  }
}

.card__link {
  cursor: pointer;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  line-height: 183%;
  /* or 29px */
  color: #131313;
}

.button-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.button-thumb__btn-map {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 192px;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
  background-color: #F8D24E;
  font-weight: 600;
  line-height: 1.2857142857;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-thumb__btn-map:hover {
  background-color: #0A8817;
}
.button-thumb__btn-map:focus {
  background-color: #0A8817;
  color: #FCFCFC;
}
.button-thumb__btn-map:disabled {
  background-color: #ABABAB;
}
@media screen and (min-width: 768px) {
  .button-thumb__btn-map {
    margin-left: 0;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #84A178;
  display: flex;
  flex-direction: column;
  transform: translateX(114%);
  transition: transform 400ms;
}
.menu-container.is-open {
  transform: translateX(0);
}
@media screen and (max-width: 767px) {
  .menu-container {
    padding: 20px 23px;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    padding: 20px 35px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-container {
    display: none;
  }
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-button {
  outline: 0;
  border: 0;
}

.menu-close {
  outline: 0;
  border: 0;
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  .menu-close {
    margin-right: 30px;
  }
}

.mobile-menu__list {
  align-items: center;
  text-align: center;
  color: #FCFCFC;
  margin-top: 48px;
  margin-bottom: auto;
}
@media screen and (min-width: 768px) {
  .mobile-menu__list {
    margin-top: 72px;
  }
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  color: #FCFCFC;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.21;
  outline: 0;
  border: 0;
}
@media screen and (min-width: 768px) {
  .mobile-menu__link {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.23;
  }
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: #131313;
}

.icon-menu {
  background-color: #84A178;
}

.menu-btn {
  background-color: #F8D24E;
  width: 152px;
  height: 42px;
  margin: 0 auto;
  margin-bottom: 63px;
  outline: 0;
  border: 0;
}
.menu-btn:hover {
  background-color: #0A8817;
  color: #000000;
}
.menu-btn:focus {
  background-color: #0A8817;
  color: #FCFCFC;
}
.menu-btn:disabled {
  background-color: #ABABAB;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */