<div class="modal" data-modal="6">
  <div class="modal-style">
    <button class="modal-team__btn-close js-modal-close" type="button">
      <svg class="icon-cross" width="20" height="20">
        <use href="./images/sprite.svg#cross"></use>
      </svg>
    </button>

    <b class="modal-team__title">Our Team of Developers</b>

    <ul class="team-list">
      <li class="team-list__item">
        <img
          class="team-list__image"
          src="/src/images/hero/mykola.webp"
          alt="Mykola Zanko"
        />
        <p class="team-list__name">Mykola Zanko (TL)</p>
      </li>
      <li class="team-list__item">
        <img
          class="team-list__image"
          src="/src/images/hero/kyrylo.webp"
          alt="Kyrylo Tsiutsiura"
        />
        <p class="team-list__name">Kyrylo Tsiutsiura (SM)</p>
      </li>
      <li class="team-list__item">
        <img
          class="team-list__image"
          src="/src/images/hero/hryhorii.webp"
          alt="Hryhorii Pivtorak"
        />
        <p class="team-list__name">Hryhorii Pivtorak</p>
      </li>
      <li class="team-list__item">
        <img
          class="team-list__image"
          src="/src/images/hero/olena.webp"
          alt="Olena Murza"
        />
        <p class="team-list__name">Olena Murza</p>
      </li>
      <li class="team-list__item">
        <img
          class="team-list__image"
          src="/src/images/hero/oleksii.webp"
          alt="leksii Katsal"
        />
        <p class="team-list__name">Oleksii Katsal</p>
      </li>
      <li class="team-list__item">
        <img
          class="team-list__image"
          src="/src/images/hero/ivan.webp"
          alt="Ivan Andrushchenko"
        />
        <p class="team-list__name">Ivan Andrushchenko</p>
      </li>
      <li class="team-list__item">
        <img
          class="team-list__image"
          src="/src/images/hero/maksym.webp"
          alt="Maksym Svyrydov"
        />
        <p class="team-list__name">Maksym Svyrydov</p>
      </li>
      <li class="team-list__item">
        <img
          class="team-list__image"
          src="/src/images/hero/anastasia.webp"
          alt=""
        />
        <p class="team-list__name">Anastasia Bernatska</p>
      </li>
      <li class="team-list__item">
        <img
          class="team-list__image"
          src="/src/images/hero/bogdan.webp"
          alt="Bogdan Sayuk"
        />
        <p class="team-list__name">Bogdan Sayuk</p>
      </li>
      <li class="team-list__item">
        <img
          class="team-list__image"
          src="/src/images/hero/andrey.webp"
          alt="Yaremenko Andrii"
        />
        <p class="team-list__name">Yaremenko Andrii</p>
      </li>
    </ul>
  </div>
</div>
