<div class="overlay js-overlay-modal">
  <div class="modal how-its__modal" data-modal="3">
    <button class="how-its__btn js-modal-close" type="button">
      <svg class="how-its__icon" width="16" height="16">
        <use href="./images/sprite.svg#cross"></use>
      </svg>
    </button>
    <p class="how-its__title">How it’s made?</p>
    <div class="how-its__thumb">
      <iframe
        class="how-its__video"
        width="224"
        height="199"
        src="https://www.youtube.com/embed/-8MPE74pq4w"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        style="border: none"
        allowfullscreen
      ></iframe>
    </div>
    <p class="how-its__desc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
