<div class="overlay js-overlay-modal" data-modal="2">
  <form class="form__bay-now-products" autocomplete="on">

    <button class="form__btn-close js-modal-close" type="button">
      <svg class="icon-cros" width="20" height="20">
        <use href="./images/sprite.svg#burger-close"></use>
      </svg>
    </button>

  

    <h1 class="form__title">Chololate icecream</h1>

      <div class="form-chocolate">
      <input class="form-chocolate__input visually-hidden" type="checkbox" name="chocolate-ice" id="chocolate-ice" /></input>
        <span class="form-chocolate__photo-circle  form-chocolate__photo-circle--ice-cream "></span>
        
        <div class="form-chocolate__photo">
          <picture>
            <source 
            srcset="./images/chocolate-ice@1x.webp 1x, ./images/chocolate-ice@2x.webp 2x" 
            type="images/webp">

            <source 
            srcset="./images/chocolate-ice@1x.jpg 1x, ./images/chocolate-ice@2x.jpg 2x"
             type="images/jpeg" /> 

             <img src="./images/chocolate-ice@1x.jpg" alt="chocolate-ice"  width="131" height="131"/>
          </picture>
        </div> 


        
         <div class="energy">

           <div class="lb1">
      <input class="energy__input visually-hidden" type="checkbox" name="chocolate-ice" id="chcolate-ice" /></input>
          <span class="energy__circle  form-chocolate__photo-circle--ice-cream ">320</span>
            <label class="energy__label energy-label--chocolate-ice" for="chocolate-ice">
              <span class="span__text">kcal</span>
            </label>
    
          </div>

<div class="lb2">
<input class="energy__input visually-hidden" type="checkbox" name="chocolate-ice" id="chcolate-ice" /></input>
       <span class="energy__circle  form-chocolate__photo-circle--ice-cream ">4g</span>
      <label class="energy__label energy-label--chocolate-ice" for="chocolate-ice">
        <span  class="span__text">Protein...</span></label>
</div>

<div class="lb3">
          <input class="energy__input visually-hidden" type="checkbox" name="chocolate-ice" id="chcolate-ice" /></input>
       <span class="energy__circle  form-chocolate__photo-circle--ice-cream ">8,2g</span>
      <label class="energy__label energy-label--chocolate-ice" for="chocolate-ice">
        <span class="span__text">Fats</span></label>
</div>

<div class="lb4">
        <input class="energy__input visually-hidden" type="checkbox" name="chocolate-ice" id="chcolate-ice" /></input>
       <span class="energy__circle  form-chocolate__photo-circle--ice-cream ">40,4g</span>
      <label class="energy__label energy-label--chocolate-ice" for="chocolate-ice">
        <span class="span__text">Carbs</span></label>
</div>
      </div> 


        <div class="ingredients">
            <h2 class="ingredients__titile">Ingredients</h2>
            <ul class="ingredients__list">
                <li class="ingredients__item">Milk <span class="ingredient__weigth">100ml</span></li>
                <li class="ingredients__item">Belgian chocolate <span class="ingredient__weigth">20g</span></li>
                <li class="ingredients__item">Cream <span class="ingredient__weigth">150ml</span></li>
                <li class="ingredients__item">Cocoa powder  <span class="ingredient__weigth">30g</span></li>
                <li class="ingredients__item">Sugar <span class="ingredient__weigth">40g</span></li>
                <li class="ingredients__item">Vanilla sugar <span class="ingredient__weigth">10g</span></li>
            </ul>
        </div>


    <label class="form__date-in" for="">
      <input class="form__input" 
      type="text" 
      placeholder="Name" 
      pattern="^[a-zA-Z]+$" 
      autocomplete
      required />
    </label>

    <label class="form__date-in" for="">
      <input class="form__input" 
      type="tel" 
      placeholder="Phone" 
      pattern="^[ 0-9]+$" 
      autocomplete
      required/>
    </label>

    <label class="form__coment" for="">
      <textarea class="form__textarea" 
      name="coment" id="" cols="30" rows="10" 
      placeholder="Comment"></textarea>
    </label>

    <button class="form__bay-btn" 
    type="submit">Submit</button>

  </form>
</div>