<div class="overlay js-overlay-modal" data-modal="1">
  <form class="form__buy-now" autocomplete="on">

    <button class="form__btn-close js-modal-close" type="button">
      <svg class="icon-cros" width="20" height="20">
        <use href="./images/sprite.svg#cross"></use>
      </svg>
    </button>

    <b class="form__title">Buy now</b>

    <div class="form__prod">
      <input class="input__ice-cream visually-hidden" type="checkbox" name="ice_cream" id="ice-cream" />
      <label class="label__prod label__prod--ice-cream" for="ice-cream">
        <span class="form__photo-circle  form__photo-circle--ice-cream "></span>
        <div class="form__photo">
          <picture>
            <source srcset="./images/modal/ice-cream.webp,
            ./images/modal/ice-cream@2x.webp" type="image/webp">
            <source srcset="./images/modal/ice-cream.jpg,
            ./images/modal/ice-cream@2x.jpg" type="image/jpeg" />
            <img src="./images/modal/ice-cream.jpg" alt="ice-cream"  width="132" height="132"/>
          </picture>
        </div>
        <span class="label__text">ice cream</span>
      </label>
      <input class="input__ice-coffee visually-hidden" 
      type="checkbox" 
      name="ice_coffee" 
      id="ice-coffee"
      checked="checked"/>
      <label class="label__prod label__prod--ice-coffee" for="ice-coffee">
        <span class="form__photo-circle form__photo-circle--ice-coffee"></span>
        <div class="form__photo">
          <picture>
            <source srcset="./images/modal/ice-coffee.webp,
            ./images/modal/ice-coffee@2x.webp" type="image/webp">
            <source srcset="./images/modal/ice-coffee.jpg,
            ./images/modal/ice-coffee@2x.jpg" type="image/jpeg" />
            <img src="./images/modal/ice-coffee.jpg" alt="ice coffee"  width="132" height="132"/>
          </picture>
        </div>
        <span class="label__text">ice coffee</span>
      </label>
      <input class="input__milkshake visually-hidden" type="checkbox" name="milkshake" id="milkshake" />
      <label class="label__prod label__prod--milkshake" for="milkshake">
        <span class="form__photo-circle form__photo-circle--milkshake"></span>
        <div class="form__photo">
          <picture>
            <source srcset="./images/modal/milkshake.webp,
            ./images/modal/milkshake@2x.webp" type="image/webp">
            <source srcset="./images/modal/milkshake.jpg,
            ./images/modal/milkshake@2x.jpg" type="image/jpeg" />
            <img src="./images/modal/milkshake.jpg" alt="milkshake"  width="132" height="132"/>
          </picture>
        </div>
        <span class="label__text">milkshake</span>
      </label>
    </div>
    
    <label class="form__date-in" for="">
      <input class="form__input" 
      type="text" 
      placeholder="Name" 
      pattern="^[a-zA-Z]+$" 
      autocomplete
      required />
    </label>

    <label class="form__date-in" for="">
      <input class="form__input" 
      type="tel" 
      placeholder="Phone" 
      pattern="^[ 0-9]+$" 
      autocomplete
      required/>
    </label>

    <label class="form__coment" for="">
      <textarea class="form__textarea" 
      name="coment" id="" cols="30" rows="10" 
      placeholder="Comment"></textarea>
    </label>

    <button class="form__buy-btn" 
    type="submit">Submit</button>

  </form>
</div>
