<div class="overlay-second is-hidden" data-modal-p>
  <div class="form__bay-now-products">
  
    <button class="form__btn-close" data-modal-close-p type="button">
      <svg class="icon-cros" width="20" height="20">
        <use href="./images/sprite.svg#burger-close"></use>
      </svg>
    </button>

    <b class="form__title">Chololate icecream</b>
  
    <form  autocomplete="on">
  
  
        <div class="form-chocolate">
          <span class="form-chocolate__photo-circle  form-chocolate__photo-circle--ice-cream "></span>
  
            <div class="form-chocolate__photo">
              <picture>
                <source
                srcset="./images/chocolate-ice@1x.webp 1x, ./images/chocolate-ice@2x.webp 2x"
                type="images/webp">
    
                <source
                srcset="./images/chocolate-ice@1x.jpg 1x, ./images/chocolate-ice@2x.jpg 2x"
                type="images/jpeg" />
    
                <img src="./images/chocolate-ice@1x.jpg" alt="chocolate-ice"  width="131" height="131"/>
              </picture>
            </div>
 
            <div class="energy">
              <ul class="energy__list">
                <li class="energy__item">
                  <span class="energy__circle">320</span>
                  <span class="energy__mass">kcal</span>
                </li>
                <li class="energy__item">
                  <span class="energy__circle">4g</span>
                  <span class="energy__mass">Proteine</span>
                </li>
                <li class="energy__item">
                  <span class="energy__circle">8,2g</span>
                  <span class="energy__mass">Fats</span></li>
                <li class="energy__item">
                  <span class="energy__circle">40,4g</span>
                  <span class="energy__mass">Carbs</span>
                </li>
              </ul>
            </div>

          <div class="ingredients">
              <p class="ingredients__titile">Ingredients</p>
              <ul class="ingredients__list">
                  <li class="ingredients__item">Milk <span class="ingredient__weigth">100ml</span></li>
                  <li class="ingredients__item">Belgian chocolate <span class="ingredient__weigth">20g</span></li>
                  <li class="ingredients__item">Cream <span class="ingredient__weigth">150ml</span></li>
                  <li class="ingredients__item">Cocoa powder  <span class="ingredient__weigth">30g</span></li>
                  <li class="ingredients__item">Sugar <span class="ingredient__weigth">40g</span></li>
                  <li class="ingredients__item">Vanilla sugar <span class="ingredient__weigth">10g</span></li>
              </ul>
          </div>
  

      <label class="form__date-in-prod" for="">
        <input class="form__input"
        type="text"
        placeholder="Name"
        pattern="^[a-zA-Z]+$"
        autocomplete
        required />
      </label>
  
      <label class="form__date-in-prod" for="">
        <input class="form__input"
        type="tel"
        placeholder="Phone"
        pattern="^[ 0-9]+$"
        autocomplete
        required/>
      </label>
  
      <label class="form__coment" for="">
        <textarea class="form__textarea"
        name="coment" id="" cols="30" rows="10"
        placeholder="Comment"></textarea>
      </label>

      <button class="form__bay-btn"
      type="submit">Submit</button>
    </form>
  </div>
</div>