.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #84a178;

  display: flex;
  flex-direction: column;
  transform: translateX(114%);
  transition: transform 400ms;

  z-index: 1;

  &.is-open {
    transform: translateX(0);
  }

  @media screen and (max-width: 767px) {
    padding: 20px 23px;
  }

  @media screen and (min-width: 768px) {
    padding: 20px 35px;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}
.menu-button {
  width: 32px;
  height: 32px;
  padding: 10px 6px;
  background-color: transparent;
  outline: 0;
  border: 0;
}
.menu-close {
  outline: 0;
  border: 0;
  margin-top: 10px;
  align-items: center;
  padding: 6px;
  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }
}

.mobile-menu__list {
  align-items: center;
  text-align: center;
  color: #fcfcfc;
  margin-top: 48px;
  margin-bottom: auto;
  padding-bottom: 32px;

  @media screen and (min-width: 768px) {
    margin-top: 72px;
  }
}

.mobile-menu__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-menu__link {
  color: #fcfcfc;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.21;
  outline: 0;
  border: 0;

  @media screen and (min-width: 768px) {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.23;
  }

  &:hover,
  &:focus {
    color: #131313;
  }
}

.icon-menu {
  background-color: #84a178;
}

.menu-btn {
  background-color: #f8d24e;
  width: 152px;
  height: 42px;
  margin: 0 auto;
  margin-bottom: 63px;
  outline: 0;
  border: 0;

  &:hover {
    background-color: #0a8817;
    color: #000000;
  }

  &:focus {
    background-color: #0a8817;
    color: #fcfcfc;
  }

  &:disabled {
    background-color: #ababab;
    color: #000000;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
