.modal__fran {
  width: 280px;
  height: 674px;
  padding: 32px;

  z-index: 30;
  position: fixed;

  display: flex;
  flex-direction: column;
  align-items: center;

  top: 0;
  transform: translateX(-50%);

  @media screen and (min-width: 768px) {
    width: 568px;
    height: 668px;
    padding: 32px 60px;

    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.form__btn-close {
  position: absolute;
  right: 8px;
  top: 8px;

  width: 16px;
  height: 16px;

  padding: 0;
  background-color: transparent;

  transition: outline $animation;

  &:hover,
  &:focus {
    outline: 2px solid $btn-cl-green;
  }

  @media screen and (min-width: 768px) {
    right: 20px;
    top: 20px;

    width: 20px;
    height: 20px;
  }
}

.icon-cros {
  display: inline-block;

  @media screen and (max-width: 767px) {
    width: 16px;
    height: 16px;
  }
}

.form__title-fran {
  font-family: $font-second;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;

  margin-bottom: 20px;

  text-align: center;

  @media screen and (min-width: 768px) {
    letter-spacing: 0;

    margin-bottom: 24px;
    font-size: 24px;
    line-height: 1.4;
  }
}


.form__text-fran {
  line-height: 1.2;
  letter-spacing: $let-spacing-main;
  margin-bottom: 24px;
  letter-spacing: 0;


  @media screen and (min-width: 768px){
  font-size: 16px;
  margin-bottom: 32px;
  width: 448px;

  }

}

.input-cont-fran {
  width: 224px;
  margin: 0 auto;

  @media screen and (min-width: 768px){
    width: 368px;
  }
}

.form__input-fren {
  width: 224px;
  height: 33px;

  padding: 8px 12px;
  margin-bottom: 12px;

  font-style: 12px;
  line-height: 1.4;
  letter-spacing: 0;


  background-color: $bg-yelloe-10;
  border-radius: 10px;
  border: 1px solid $bg-green;
  outline-color: $btn-cl-green;

  transition: background-color $animation, outline-color $animation;

  &::placeholder {
    color: currentColor;
  }

  @media screen and (min-width: 768px) {
    width: 368px;
    height: 42px;
    padding: 11px 16px;
    margin-bottom: 16px;

  }
}

.form__input:not(:placeholder-shown):required:invalid {
  background-color: #84a178;
  outline-color: #84a178;
}

.form__textarea-fran {
  width: 224px;
  height: 64px;

  resize: none;

  padding: 8px 12px;
  margin-bottom: 24px;

  line-height: 1.4;
  letter-spacing: 0;


  background: $bg-yelloe-10;
  border-radius: 10px;
  border: 1px solid $bg-green;

  outline-color: $btn-cl-green;

  &::placeholder {
    color: currentColor;
  }

  @media screen and (min-width: 768px) {
    width: 368px;
    height: 84px;
  margin-bottom: 32px;

  }
}



.form__buy-btn {
  width: 114px;
  height: 42px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  padding: 0;
  margin: 0 auto;

  text-align: center;

  background-color: $bg-yellow-cl;

  transition: background-color $animation, color $animation, outline $animation;

  &:hover {
    background-color: $btn-cl-green;
    outline: 2px solid $btn-cl-green;
  }

  &:focus {
    background-color: $btn-cl-green;
    color: $white-font-cl;
    outline: 2px solid $btn-cl-green;
  }

  &:disabled {
    background-color: $btn-cl-gray;
  }
}
