<section class="about">
  <div class="container about__container">
    <p class="about__uppertitle">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <div class="about__parts">
      <div class="about__left">
        <picture class="about__picture">
          <!-- desktop -->
          <source
            media="(min-width:1200px)"
            srcset="
              ./images/about/cow_lg-@1x.webp 1x,
              ./images/about/cow_lg-@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:1200px)"
            srcset="
              ./images/about/cow_lg-@1x.jpg 1x,
              ./images/about/cow_lg-@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- tablet -->
          <source
            media="(min-width:768px)"
            srcset="
              ./images/about/cow_md-@1x.webp 1x,
              ./images/about/cow_md-@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:768px)"
            srcset="
              ./images/about/cow_md-@1x.jpg 1x,
              ./images/about/cow_md-@2x.jpg 2x
            "
            type="image/jpg"
          />
          <!-- mobile -->
          <source
            media="(min-width:320px)"
            srcset="
              ./images/about/cow_sm-@1x.webp 1x,
              ./images/about/cow_sm-@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width:320px)"
            srcset="
              ./images/about/cow_sm-@1x.jpg 1x,
              ./images/about/cow_sm-@2x.jpg 2x
            "
            type="image/jpg"
          />

          <img src="./images/about/cow_sm-@1x.jpg" alt="Cow" />
        </picture>
      </div>
      <div class="about__right">
        <p class="about__desc">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
        </p>
        <p class="about__desc">
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </p>
        <p class="about__desc">
          This is enough to choose ice cream and coffee for any mood!
        </p>

        <button
          class="btn about__btn js-open-modal"
          type="button"
          data-modal="3"
        >
          Read more
          <svg class="about__icon" width="12" height="12">
            <use href="./images/sprite.svg#arrow-btn"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
