<section class="advantege section">
    <div class="container advantege--container">
        <h2 class="visually-hidden">Advanteges</h2>
        <ul class="advantege__list">
            <li class="advantege__item">
                <p class="advantege__number">721</p>
                <p class="advantege__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantege__item">
                <p class="advantege__number">16kg</p>
                <p class="advantege__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantege__item">
                <p class="advantege__number">84</p>
                <p class="advantege__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>