<section class="contact">
  <div class="container">
    <h2 class="contact__title visually-hidden">Contacts</h2>
    <ul class="contact__list list">
      <li class="card contact__item">
        <b class="contact__name">CAFE</b>
        <ul class="card__list list">
          <li class="card__item">
            <p class="card__title">Chicago</p>
            <p class="card__text">
              10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
            </p>
          </li>
          <li class="card__item">
            <div class="card__thumb">
              <p class="card__title">Monday - Friday</p>
              <p class="card__time">06:00 AM - 10:00 PM</p>
            </div>
            <div class="card__thumb">
              <p class="card__title">Saturday - Sunday</p>
              <p class="card__time">08:00 AM - 16:00 PM</p>
            </div>
          </li>
          <li class="card__item">
            <a class="card__link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
            <a class="card__link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="card contact__item">
        <b class="contact__name">FOOD TRUCK</b>
        <ul class="card__list list">
          <li class="card__item">
            <p class="card__title">Los Angeles</p>
            <p class="card__text">
              1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
            </p>
          </li>
          <li class="card__item">
            <div class="card__thumb">
              <p class="card__title">Monday - Friday</p>
              <p class="card__time">06:00 AM - 10:00 PM</p>
            </div>
            <div class="card__thumb">
              <p class="card__title">Saturday - Sunday</p>
              <p class="card__time">08:00 AM - 16:00 PM</p>
            </div>
          </li>
          <li class="card__item">
            <a class="card__link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
            <a class="card__link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="card contact__item">
        <b class="contact__name">CAFE</b>
        <ul class="card__list list">
          <li class="card__item">
            <p class="card__title">New York</p>
            <p class="card__text">726 Sterling Pl, Brooklyn, NY 11222, USA</p>
          </li>
          <li class="card__item">
            <div class="card__thumb">
              <p class="card__title">Monday - Friday</p>
              <p class="card__time">06:00 AM - 10:00 PM</p>
            </div>
            <div class="card__thumb">
              <p class="card__title">Saturday - Sunday</p>
              <p class="card__time">08:00 AM - 16:00 PM</p>
            </div>
          </li>
          <li class="card__item">
            <a class="card__link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
            <a class="card__link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="button-thumb">
      <li>
        <button
          class="button contact-secondary-btn"
          type="button"
          data-map-open="is-hidden"
        >
          Our location<span class="button-thumb__icon">›</span>
        </button>
      </li>
      <li>
        <button
          class="button contact-primary-btn"
          type="button"
          data-map-open="is-hidden"
        >
          Franchise<span class="button-thumb__icon">›</span>
        </button>
      </li>
    </ul>
  </div>
</section>
