<section class="contact">
  <div class="container">
    <h2 class="contact__title visually-hidden">Contacts</h2>
    <ul class="contact__list list">
      <li class="card contact__item">
        <b class="contact__name">CAFE</b>
        <ul class="card__list list">
          <li class="card__item">
            <p class="card__title">Chicago</p>
            <p class="card__text">
              10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
            </p>
          </li>
          <li class="card__item">
            <div class="card__thumb">
              <p class="card__title">Monday - Friday</p>
              <p class="card__time">06:00 AM - 10:00 PM</p>
            </div>
            <div class="card__thumb">
              <p class="card__title">Saturday - Sunday</p>
              <p class="card__time">08:00 AM - 16:00 PM</p>
            </div>
          </li>
          <li class="card__item">
            <a class="card__link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
            <a class="card__link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="card contact__item">
        <b class="contact__name">FOOD TRUCK</b>
        <ul class="card__list list">
          <li class="card__item">
            <p class="card__title">Los Angeles</p>
            <p class="card__text">
              1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
            </p>
          </li>
          <li class="card__item">
            <div class="card__thumb">
              <p class="card__title">Monday - Friday</p>
              <p class="card__time">06:00 AM - 10:00 PM</p>
            </div>
            <div class="card__thumb">
              <p class="card__title">Saturday - Sunday</p>
              <p class="card__time">08:00 AM - 16:00 PM</p>
            </div>
          </li>
          <li class="card__item">
            <a class="card__link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
            <a class="card__link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="card contact__item">
        <b class="contact__name">CAFE</b>
        <ul class="card__list list">
          <li class="card__item">
            <p class="card__title">New York</p>
            <p class="card__text">726 Sterling Pl, Brooklyn, NY 11222, USA</p>
          </li>
          <li class="card__item">
            <div class="card__thumb">
              <p class="card__title">Monday - Friday</p>
              <p class="card__time">06:00 AM - 10:00 PM</p>
            </div>
            <div class="card__thumb">
              <p class="card__title">Saturday - Sunday</p>
              <p class="card__time">08:00 AM - 16:00 PM</p>
            </div>
          </li>
          <li class="card__item">
            <a class="card__link" href="tel:+610383766284"
              >+61(0) 383 766 284</a
            >
            <a class="card__link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="button-thumb">
      <li>
        <button
          class="button contact-secondary-btn"
          type="button"
          data-modal-open
        >
          Our location<span class="button-thumb__icon">&#8250;</span>
        </button>
      </li>
      <li>
        <button
          class="button contact-primary-btn"
          type="button"
          data-modal-open
        >
          Franchise<span class="button-thumb__icon">&#8250;</span>
        </button>
      </li>
    </ul>
  </div>
  <div class="backdrop">
    <div class="modal modal-location">
      <button class="modal__btn-close">
        <svg class="modal__btn-icon" width="18" height="18">
          <use href="../images/sprite.svg#"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
<!-- OUR LOCATION MODAL-->
<div class="modal-location">
  <p class="modal-location__title">Our Locations</p>
  <button class="modal__btn" data-modal-close>
    <svg class="modal__icon-close" width="20" height="20">
      <use href="./images/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <div class="backdrop thumb--is-hidden" data-map>
    <div class="map">
      <div class="map__iframe">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14634.251268066106!2d34.561205350906526!3d49.57899123987542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82f650691fe75%3A0xe42f916f29cc2252!2z0L_QsNGA0Log0J_QvtCx0LXQtNCw!5e0!3m2!1sru!2sua!4v1666041879422!5m2!1sru!2sua"
          width="480"
          height="260"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
        <button class="button map__btn">
          <a
            class="map__link"
            href="https://goo.gl/maps/r6cieaA11dWpWiXGA"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Our location"
          ></a
          >Open map
        </button>
      </div>
    </div>
  </div>
</div>
