<section class="customer-reviews">
  <div class="container">
    <h2 class="visually-hidden">--customer-reviews--</h2>
    <ul class="customer-reviews__list">
      <li class="customer-reviews__item">
        <img
          class="customer-reviews__img"
          src="./images/customer-reviews/bryan@1x.svg"
          alt="Bryan"
          width="85"
          height="85"
        />
        <div class="customer-reviews__card">
          <p class="customer-reviews__txt">
            Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </p>
        </div>
        <h3 class="customer-reviews__name">Bryan, New-York</h3>
      </li>
      <li class="customer-reviews__item">
        <img
          class="customer-reviews__img"
          src="./images/customer-reviews/diana@1x.svg"
          alt="Diana"
          width="85"
          height="85"
        />
        <div class="customer-reviews__card">
          <p class="customer-reviews__txt">
            Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </p>
        </div>
        <h3 class="customer-reviews__name">Diana, Chicago</h3>
      </li>
      <li class="customer-reviews__item">
        <img
          class="customer-reviews__img"
          src="./images/customer-reviews/sam@1x.svg"
          alt="Sam"
          width="85"
          height="85"
        />
        <div class="customer-reviews__card">
          <p class="customer-reviews__txt">
            I love eating popsicles on a hot day. Yours is always delicious. I
            recommend your cafe to everyone I know.
          </p>
        </div>
        <h3 class="customer-reviews__name">Sam, Los Angeles</h3>
      </li>
      <li class="customer-reviews__item">
        <img
          class="customer-reviews__img"
          src="./images/customer-reviews/emily@1x.svg"
          alt="Emily"
          width="85"
          height="85"
        />
        <div class="customer-reviews__card">
          <p class="customer-reviews__txt">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
        </div>
        <h3 class="customer-reviews__name">Emily, Los Angeles</h3>
      </li>
    </ul>
  </div>
</section>
