<section class="products" id="products">
    <div class="container">
        <span class="title-second">
            100% natural
        </span>
        <h2 class="section-title">
            products
        </h2>
        <ul class="products__list">
            <li class="products__item">
                <div class="products__thumb">
                    <div class="products__photo__thumb--green">
                        <div class="products__photo--green">

                        </div>
                    </div>
                    <h3 class="products__title">
                        ice cream
                    </h3>
                    <p class="product__text text">
                        Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
                    </p>
                </div>
                <button class="products__btn" type="button">
                    <svg class="products__icon" width="40" height="15">
                        <use class="products__icon--def" href="/src/images/sprite.svg#arrow-def"></use>
                    </svg>
                    <svg class="products__icon--on-activ" width="50" height="15">
                        <use class="products__icon--hover" href="/src/images/sprite.svg#arrow-hover"></use>
                        <use class="products__icon--focus" href="/src/images/sprite.svg#arrow-focus"></use>
                    </svg>
                </button>
            </li>
            <li class="products__item">
                <div class="products__thumb">
                    <div class="products__photo__thumb--yellow">
                        <div class="products__photo--yellow">

                        </div>
                    </div>
                    <h3 class="products__title">
                        ice coffee
                    </h3>
                    <p class="product__text text">
                        Fragrant invigorating drink created from 100% natural ingredients without the use of
                        preservatives
                        and flavor enhancers
                    </p>
                </div>
                <button class="products__btn" type="button">
                    <svg class="products__icon" width="40" height="15">
                        <use class="products__icon--def" href="/src/images/sprite.svg#arrow-def"></use>
                    </svg>
                    <svg class="products__icon--on-activ" width="50" height="15">
                        <use class="products__icon--hover" href="/src/images/sprite.svg#arrow-hover"></use>
                        <use class="products__icon--focus" href="/src/images/sprite.svg#arrow-focus"></use>
                    </svg>
                </button>
            </li>
            <li class="products__item">
                <div class="products__thumb">
                    <div class="products__photo__thumb--brown">
                        <div class="products__photo--brown"></div>
                    </div>
                    <h3 class="products__title">
                        milkshakes
                    </h3>
                    <p class="product__text text">
                        Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other
                        sweets
                        of your choice
                    </p>
                </div>
                <button class="products__btn" type="button">
                    <svg class="products__icon" width="40" height="15">
                        <use class="products__icon--def" href="/src/images/sprite.svg#arrow-def"></use>
                    </svg>
                    <svg class="products__icon--on-activ" width="50" height="15">
                        <use class="products__icon--hover" href="/src/images/sprite.svg#arrow-hover"></use>
                        <use class="products__icon--focus" href="/src/images/sprite.svg#arrow-focus"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>