<section class="section products">
    <div class="container">
        <p class="title-second">
            100% natural
        </p>
        <h2 class="section-title">
            products
        </h2>
        <ul class="products__list list">
            <li class="products__item">
                <div class="products__thumb">
                    <div class="products__photo__thumb--green">
                        <img class="products__photo" src="./images/products/img_m@1x.webp" alt="ice coffee" width="200"
                            height="197">
                    </div>
                    <h3 class="products__title">
                        ice cream
                    </h3>
                    <p class="product__text text">
                        Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
                    </p>
                </div>
                <button class="button products__btn" type="button">
                    <svg width="40" height="15">
                        <use href="./images/sprite.svg#arrow-def"></use>
                    </svg>
                </button>
            </li>
            <li class="products__item">
                <div class="products__thumb">
                    <div class="products__photo__thumb--yellow">
                        <img class="products__photo" src="./images/products/img2_m@1x.webp" alt="ice coffee" width="200"
                            height="197">
                    </div>
                    <h3 class="products__title">
                        ice coffee
                    </h3>
                    <p class="product__text text">
                        Fragrant invigorating drink created from 100% natural ingredients without the use of
                        preservatives
                        and flavor enhancers
                    </p>
                </div>
                <button class="button products__btn" type="button">
                    <svg width="40" height="15">
                        <use href="/src/images/sprite.svg#arrow-def"></use>
                    </svg>
                </button>
            </li>
            <li class="products__item">
                <div class="products__thumb">
                    <div class="products__photo__thumb--brown">
                        <img class="products__photo" src="./images/products/img3_m@1x.webp" alt="ice coffee" width="200"
                            height="197">
                    </div>
                    <h3 class="products__title">
                        milkshakes
                    </h3>
                    <p class="product__text text">
                        Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other
                        sweets
                        of your choice
                    </p>
                </div>
                <button class="button products__btn" type="button">
                    <svg width="40" height="15">
                        <use href="/src/images/sprite.svg#arrow-def"></use>
                    </svg>
                </button>
            </li>
        </ul>
        </h1>
    </div>
</section>