<section class="products">
    <div class="container">
        <p class="title-second">
            100% natural
        </p>
        <h1 class="section-title">
            products
        </h1>
        <ul class="products__list">
            <li class="products__item">
                <div class="products__thumb">
                    <div class="products__photo__thumb--green">
                        <img class="products__photo" srcset="
                        ./images/products/img_m@1x.webp 200w,
                        ./images/products/img_m@2x.webp 399w,
                        ./images/products/img_lg@1x.webp 303w,
                        ./images/products/img_lg@2x.webp 605w"
                            sizes="(min-width: 1200px) 303px, (min-width: 480px) 200px"
                            src="./images/products/img_m@1x.webp" alt="ice coffee">
                    </div>
                    <h3 class="products__title">
                        ice cream
                    </h3>
                    <p class="product__text text">
                        Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer
                    </p>
                </div>
                <button class="products__btn" type="button">
                    <svg class="products__icon" width="40" height="15">
                        <use class="products__icon--def" href="/src/images/sprite.svg#arrow-def"></use>
                    </svg>
                    <svg class="products__icon--on-activ" width="50" height="15">
                        <use class="products__icon--hover" href="/src/images/sprite.svg#arrow-hover"></use>
                        <use class="products__icon--focus" href="/src/images/sprite.svg#arrow-focus"></use>
                    </svg>
                </button>
            </li>
            <li class="products__item">
                <div class="products__thumb">
                    <div class="products__photo__thumb--yellow">
                        <img class="products__photo" srcset="
                        ./images/products/img2_m@1x.webp 200w,
                        ./images/products/img2_m@2x.webp 399w,
                        ./images/products/img2_lg@1x.webp 303w,
                        ./images/products/img2_lg@2x.webp 605w"
                            sizes="(min-width: 1200px) 303px, (min-width: 480px) 200px"
                            src="./images/products/img2_m@1x.webp" alt="ice coffee">
                    </div>
                    <h3 class="products__title">
                        ice coffee
                    </h3>
                    <p class="product__text text">
                        Fragrant invigorating drink created from 100% natural ingredients without the use of
                        preservatives
                        and flavor enhancers
                    </p>
                </div>
                <button class="products__btn" type="button">
                    <svg class="products__icon" width="40" height="15">
                        <use class="products__icon--def" href="/src/images/sprite.svg#arrow-def"></use>
                    </svg>
                    <svg class="products__icon--on-activ" width="50" height="15">
                        <use class="products__icon--hover" href="/src/images/sprite.svg#arrow-hover"></use>
                        <use class="products__icon--focus" href="/src/images/sprite.svg#arrow-focus"></use>
                    </svg>
                </button>
            </li>
            <li class="products__item">
                <div class="products__thumb">
                    <div class="products__photo__thumb--brown">
                        <img class="products__photo" srcset="
                        ./images/products/img3_m@1x.webp 200w,
                        ./images/products/img3_m@2x.webp 399w,
                        ./images/products/img3_lg@1x.webp 303w,
                        ./images/products/img3_lg@2x.webp 605w"
                            sizes="(min-width: 1200px) 303px, (min-width: 480px) 200px"
                            src="./images/products/img3_m@1x.webp" alt="ice coffee">
                    </div>
                    <h3 class="products__title">
                        milkshakes
                    </h3>
                    <p class="product__text text">
                        Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other
                        sweets
                        of your choice
                    </p>
                </div>
                <button class="products__btn" type="button">
                    <svg class="products__icon" width="40" height="15">
                        <use class="products__icon--def" href="/src/images/sprite.svg#arrow-def"></use>
                    </svg>
                    <svg class="products__icon--on-activ" width="50" height="15">
                        <use class="products__icon--hover" href="/src/images/sprite.svg#arrow-hover"></use>
                        <use class="products__icon--focus" href="/src/images/sprite.svg#arrow-focus"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>